<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="/style.css" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="death"
    />
  <head>
    <title>LIGHTCHAT BANNED PAGE</title>
  </head>
  <body>
    <h1> YOU HAVE BEEN BANNED, This is action was done by an admin</h1>
    <p>If you have any questions please contact soumyadeep das</p>
  </body>
  <script>
  </script>
</html>
